@import url('https://fonts.googleapis.com/css?family=Arimo|Passion+One" rel="stylesheet');

body {
    padding: 20px;
}

.header-title {
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    font-family: 'Passion One', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*.title-image {
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
}*/
.instructions-wrapper {
    padding: 0px;
    margin-top: 0px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 60%;
}

.instructions {
    font-size: 24px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.start-button {
    font-family: 'Arimo', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    font-size: 20px;
}

.start-button:hover {
    background-color: grey;
    border: 1px solid grey;

}

@media only screen and (max-width: 620px) {
    .header-title {
        font-size: 40px;
    }

    /*.title-image {
        width: 90%
    }*/

    .instructions-wrapper {
        width: 90%;
    }
    
    .instructions {
        font-size: 20px;
    }
    
    .start-button {
        width: 50%;
    }

    
}